/*universal styling*/

.footer.section {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  margin: 0px;
}

.section.one, .footer {
  background-color: #1F2937;
}

.section.three {
  background-color: hsl(0,0%,90%);
}

/*section 1*/
.header {
  display: flex;
  align-items: center;
  padding: 7px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  font-size: 24px; color: #F9FAF8;
  margin-left: 200px;
  margin-right: auto;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  padding: 0px;
  margin-right: 90px;
}

a {
  text-decoration: none;
  padding: 8px;
  color: hsl(0,0%,70%);
}

.media {
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: flex-start;
}

.media img {
  width: 400px;
  margin-left: 150px;
}

.main-text, .subtext {
  display: flex;
  flex-flow: row wrap;
  width: 450px;
  margin-left: 200px;
}

.main-text {
  margin-top: 0px;
  font-size: 48px; font-weight: 800; color: #F9FAF8;
  margin-bottom: 0px;
}

.subtext {
  margin-top: 0px;
  font-size: 18px; color: hsl(0,0%,70%);
}

.sign-up {
  background-color: #3882F6;
  color: white; font-size: 20px;
  margin-left: 200px;
  padding: 5px 25px;
  border-color: transparent; border-radius: 12px;
}

/*section 2*/
.info-header {
  font-size: 36px; font-weight: 800; color: #1F2937; text-align: center;
  padding: 50px;
}

.media-two {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: 50px;
  padding-bottom: 100px;
}

.media-two img, figure {
  margin: 0px;
  width: 200px;
}

.media-two img {
  border: 5px solid; border-color: #3882F6; border-radius: 20px;
}

figcaption {
  margin: 0px;
  color: hsl(0,0%,50%);
}

/*section 3*/
.quote-text {
  padding-top: 150px; padding-right: 200px; padding-left: 200px;
  font-style: italic; font-size: 36px;
  justify-content: center;
}

.quote-author {
  font-size: 20px; font-weight: 700;
  padding-right: 200px;
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-end; 
}